/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
/* header nav */

/* rest of header */


/* MAIN */

/* section 1 */

/* section 2 */

/* section 3 */

/* section 4 */

/* FOOTER */

/* footer first part */

/* footer second part */